# Configuration described http://www.haproxy.org/download/1.4/doc/configuration.txt
###############################################################
global
    log 127.0.0.1 local0 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid			# Writes pids of all daemons into file
    user        haproxy
    group       haproxy
    daemon						# running as a daemon (otherwise it will output to your console everything it does)
    stats socket /var/lib/haproxy/stats			# Connections to this socket  will return various statistics outputs
    tune.bufsize            786432			


defaults
    mode http
    option httplog
    log global

    option http-server-close				# adds a "Connection: close" header to the request forwarded to the server
    option accept-invalid-http-response			# invalid characters in header names are not permitted
    option httpclose 				        # switch both sides to HTTP close mode

    option forwardfor except 127.0.0.0/8
    option originalto except 127.0.0.0/8 header X-Original-To
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           1s


frontend HAPROXY {{ ansible_eth0.ipv4.address }}:80				# the IP address we want haproxy to listen
    capture response header Content-length len 9
    capture response header Location len 15
    capture request  header Content-Length len 10
    capture response header Cache-Control len 8
    capture response header Location len 20

    acl bot     hdr_sub  Googlebot msnbot bingbot MJ12bot www.exabot.com ezooms.bot rogerBot NerdByNature.Bot   # Returns true when one of the headers contains one of the strings
    block if bot


    # detect particular patterns in query string
    acl bad_url  url_sub        .php/login.php /cgi-bin/php timthumb.php?src=http phpMyAdmin- tell_a_friend.php?action=process&products_id nightend.cgi?8 index.php?mode=stf
    acl empty_referer   hdr_cnt(HTTP_REFERER) eq 0
    block if bad_url empty_referer

    acl unwanted                hdr_sub         AppEngine GSLFbot dk.binaryconstructors.iapa Statastico
    block if unwanted

    acl blocked_uri             url_sub /myadmin/scripts/setup.php
    block if blocked_uri

    acl url_static              path_end       -i .jpg .gif .png .css .js
    acl localhost               src            127.0.0.1

    use_backend                 SQUID          if url_static !localhost
    default_backend             APACHE

backend APACHE
    server LOCALAPACHE 127.0.0.1:80 check inter 200 weight 100 maxconn 150 maxqueue 30 slowstart 10s
    appsession Apache len 32 timeout 3h request-learn
    #option httpchk HTTP/1.0

backend SQUID
    server LOCALSQUID 127.0.0.1:8080 check inter 200 weight 100 slowstart 10s
    server LOCALAPACHE 127.0.0.1:80 check inter 200 weight 100 maxconn 150 maxqueue 30 slowstart 10s backup

